NEXT_PUBLIC_SUPABASE_URL=https://hicgxkrrvcoqebplkxqb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhpY2d4a3JydmNvcWVicGxreHFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNzQ5MjMsImV4cCI6MjA5MTY1MDkyM30.uuSi0UF06xvr2JkK9Nq3HnDLFt8Me-5JLnFP4jZ0_1c
